<nav class="site-nav">
  <a class="site-nav-brand" href="../index.html">
    <img src="../Images/mr mountian logo.png" alt="Great Outdoors" style="width:30px;height:30px;object-fit:contain;">
    Great Outdoors
  </a>
  <div class="site-nav-links">
    <a class="site-nav-link" href="../index.html">
      <i class="ti ti-home"></i> Home
    </a>
    <a class="site-nav-link" href="../Pages/trail.html">
      <i class="ti ti-map"></i> Random Trail
    </a>
    <a class="site-nav-link" href="../Pages/add-trail.html">
      <i class="ti ti-plus"></i> Add Trail
    </a>
    <a class="site-nav-link" id="nav-auth-link" href="../Pages/login.html">
      <i class="ti ti-user" id="nav-auth-icon"></i>
      <span id="nav-auth-label">Login</span>
    </a>
  </div>
</nav>